* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding-bottom: 180px;
}

.navbar-1 {
    margin-left: 120px;
    word-spacing: 50px;
}

.cafena-icon {
    margin-right: 120px;
}

.navbar-2 {
    margin-right: 120px;
    word-spacing: 50px;
}

.container {
    padding-left: 100px;
}



